$headings-font-family: 'Ubuntu', Sans-Serif;
$headings-font-size: 48px;
$headings-text-color: rgb(218, 95, 111);

$text-font-family: 'Open Sans', Sans-Serif;
$text-font-size: 15px;
$text-color: black;

$background-color-header: rgb(250, 50, 76);
$background-color-left-index: lightblue;
$background-color-right-index: rgb(233, 233, 233);
$background-color-footer: rgb(247, 247, 247);

$text-color-light: white;
$text-color-grey: dimgray;

$button-background-color: rgb(218, 95, 111);
$button-text-color: white;