@import
'src/styles/abstracts/variables';

$text-color: white;
$font-family: 'Ubuntu', Sans-Serif;
$font-size-title: 40px;
$font-size-buttons: 24px;
* {
    background-color: $background-color-header;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size-buttons;
}
.nav-row {
    padding: 2%;
    align-items: center;
}
.nav-title {
    font-size: $font-size-title;
}