<div class="container">
    <app-nav></app-nav>
    <main>
        <div class="row">
            <div class="col-3 col-xl-2"><app-index></app-index></div>
            <div class="col-8 main-view">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla molestias mollitia ratione facilis eveniet velit optio, inventore ex illum earum fuga aspernatur quod, praesentium deleniti iure? Laborum nulla velit assumenda?
                
                <div class="card col-6">
                    <h4>Card with button</h4>
                    <p class = "card-text">This is a card with a button triggering a modal.</p>
                    <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#helloModal">
                        button
                    </button>
                </div>
            </div>
            <div class="col-3 col-xl-2">
                <app-right-index></app-right-index>
            </div>
        </div>
    </main>
    <app-footer class="fixed-bottom">© 2022 Loes Immens</app-footer>
</div>

<div class="modal" id="helloModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hello</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                this is a modal!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
