<div class="container h-100">
    <div class="row nav">
        <app-nav></app-nav>
    </div>
        
    <div class="row">
        <div class="col-2"><app-index></app-index></div>
        <div class="col-8">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla molestias mollitia ratione facilis eveniet velit optio, inventore ex illum earum fuga aspernatur quod, praesentium deleniti iure? Laborum nulla velit assumenda?
            
            <div class="card">
                <h5>what to use a card for?</h5>
                
            </div>
        </div>
        <div class="col-2">
            <app-right-index></app-right-index>
        </div>
    </div>
</div>