$background-color: teal;
* {
    background-color: $background-color;
    color: white;
}
.index-item {
    padding-top: 20px;
    padding-left: 20%;
}
.container {
    padding-bottom: 20px;
}