* {
    font-family: $text-font-family;
    font-size: $text-font-size;
    color: $text-color;
}
h1 {
    font-family: $headings-font-family;
    color: $headings-text-color;
}
h2 {
    font-family: $headings-font-family;
    color: $headings-text-color;
}
h3 {
    font-family: $headings-font-family;
    color: $headings-text-color;
}
h4 {
    font-family: $headings-font-family;
    color: $headings-text-color;
}
h5 {
    font-family: $headings-font-family;
    color: $headings-text-color;
}